# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# The database URL is used to connect to your MongoDB database.
# DATABASE_URL="prisma://accelerate.prisma-data.net/?api_key=__API_KEY__"
# DIRECT_DATABASE_URL='mongodb+srv://<username>:<password>@<cluster>/<database>?retryWrites=true&w=majority'

# @see https://next-auth.js.org/configuration/options#nextauth_url
NEXTAUTH_URL='http://localhost:3000'

# You can generate the secret via 'openssl rand -base64 32' on Unix
# @see https://next-auth.js.org/configuration/options#secret
AUTH_SECRET='supersecret'

# Preconfigured OAuth providers, works out-of-the-box
# @see https://next-auth.js.org/providers
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""

# Preconfigured Email provider
EMAIL_SERVER_HOST=''
EMAIL_SERVER_PORT=0
EMAIL_SERVER_USER=''
EMAIL_SERVER_PASSWORD=''
EMAIL_FROM=''